.hide-editor .Pane1,
.hide-editor .view-line-link,
.hide-editor .errors-wrapper,
.hide-editor .response-content-type,
#swagger-editor.hide-editor .edit-menu,
#swagger-editor .topbar-wrapper.preview-menu{display:none;}
.hide-editor .Pane2{overflow-y:auto;width:100% !important;}
#swagger-editor .topbar-wrapper .dd-menu-right{margin-left:auto;}
#swagger-editor .topbar-wrapper .button{border:1px solid #fff;cursor:pointer;font-size:14px;padding:.1em 1em;}
#swagger-editor.hide-editor .topbar-wrapper.preview-menu{display:flex;}
.col_header.response-col_status{position:relative;text-indent:-1000em;}
.col_header.response-col_status:after{content:"Status";left:0;position:absolute;text-indent:0;}
